html {
	background-color: #E7DCAE;
}

l {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #E5DAA3;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  font-family: Lucida Bright;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #E2D7A1;
  color: white;
}

li a:hover:not(.active) {
  background-color: #E5DAA3;
  color: white;
}

h1 {
	font-family: Goudy Old Style ; 
	text-decoration: underline;
}

p {
	font-family: Rockwell;
}

